<!-- devuelve los resultados -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
<style type="text/css">
  td {
      vertical-align: middle;
  }
</style>


<p>Hola, {{ answer.name }}, para su {{ answer.pet_class }} te recomendamos</p>

{% csrf_token %}
<table>
  <tr>
    <td></td>
    <th>DETALLE</th>
    <th>SUBRUBRO</th>
    <th>RUBRO</th>
    <th>PRECIO</th>
  </tr>
{% for rec in answer.ImportedData %}
  <tr>
    <td><img src="{{ rec.URLFOTO1 }}" alt="" width="149" height="149" /></td>
    <td>{{ rec.DETALLE }}</td>
    <td>{{ rec.SUBRUBRO }}</td>
    <td>{{ rec.RUBRO }}</td>
    <td>{{ rec.PRECIO }}</td>
  </tr>
{% endfor %}
</table>